.u-section-1 .u-sheet-1 {
  min-height: 974px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -7px;
  margin-bottom: 29px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 952px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-1 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-1 {
  width: 241px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-2 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  width: 241px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-3 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-3 {
  width: 241px;
  margin: 0 auto;
}

.u-section-1 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-4 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-4 {
  width: 241px;
  margin: 0 auto;
}

.u-section-1 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-5 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-5 {
  width: 241px;
  margin: 0 auto;
}

.u-section-1 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 18px 0 11px;
}

.u-section-1 .u-image-6 {
  height: 394px;
  width: 364px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-6 {
  width: 241px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 783px;
  }

  .u-section-1 .u-image-1 {
    height: 393px;
  }

  .u-section-1 .u-image-2 {
    height: 393px;
  }

  .u-section-1 .u-image-3 {
    height: 393px;
  }

  .u-section-1 .u-image-4 {
    height: 393px;
  }

  .u-section-1 .u-image-5 {
    height: 393px;
  }

  .u-section-1 .u-image-6 {
    height: 393px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 772px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1452px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    height: auto;
    margin: 0 auto 22px -14px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1430px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    height: auto;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 367px;
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 367px;
    width: 340px;
  }

  .u-section-1 .u-image-4 {
    height: 367px;
    width: 340px;
  }

  .u-section-1 .u-image-5 {
    height: 367px;
    width: 340px;
  }

  .u-section-1 .u-image-6 {
    height: 367px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1442px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 928px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-1 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-2 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-3 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-4 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-5 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-item-6 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0 4px;
}

.u-section-2 .u-image-6 {
  width: 365px;
  height: 392px;
  margin: 0 8px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 8px 34px 0 26px;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin: 0 0 1px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 514px;
}

.u-section-2 .u-list-item-7 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-2 .u-image-7 {
  width: 365px;
  height: 392px;
  margin: 0 auto 0 74px;
}

.u-section-2 .u-text-7 {
  margin: 8px 60px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-2 .u-image-8 {
  width: 365px;
  height: 392px;
  margin: 0 auto 0 74px;
}

.u-section-2 .u-text-8 {
  margin: 8px 60px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 764px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 423px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 98px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 30px;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    margin-top: 98px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 30px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1329px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 366px;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 365px;
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 365px;
    margin-left: 0;
  }
}